:root {
  --cc-bg: #24273aff;
  --noti-border-color: #b7bdf8ff;
  --noti-bg: #494d64ff;
  --noti-bg-alpha: 0.9;
  --noti-bg-darker: #363a4fff;
  --noti-bg-hover: #5b6078ff;
  --noti-bg-focus: #939ab74d;
  --noti-close-bg: #ed8796ff;
  --noti-close-bg-hover: #ee99a0ff;
  --text-color: #cad3f5ff;
  --text-color-disabled: #a5adcbff;
  --bg-selected: #f4dbd64d;
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border: 2px solid var(--noti-border-color);
  --border-radius: 10px;
  --notification-shadow:
    0 0 0 1px #363a4f4d,
    0 1px 3px 1px #363a4fb3,
    0 2px 6px 2px #363a4f4d;
  /*
   * Deprecated variables (because of their typos).
   * Keeping them around for backwards compatibility.
   */
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-shadow: var(--notification-shadow);
}
.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  background-color: var(--cc-bg);
}

trough highlight {
  background: #cad3f5;
}

trough slider {
  box-shadow: 0 0 2px rgba(36, 39, 58, 0.3019607843);
  background-color: #8aadf4;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(36, 39, 58, 0.3019607843), 0 0 8px rgba(138, 173, 244, 0.3019607843);
}

trough {
  background-color: #363a4f;
}

/* notifications */
.notification-background {
  box-shadow: 0 0 8px 0 rgba(36, 39, 58, 0.3019607843), inset 0 0 0 1px rgba(73, 77, 100, 0.3019607843);
  background: #1e2030;
  color: #cad3f5;
}
.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 rgba(237, 135, 150, 0.3019607843);
}
.notification-background .notification-content .summary {
  color: #cad3f5;
}
.notification-background .notification-content .time {
  color: #a5adcb;
}
.notification-background .notification-content .body {
  color: #b8c0e0;
}
.notification-background .close-button {
  color: #24273a;
  background-color: #ed8796;
}
.notification-background .close-button:hover {
  background-color: #ee99a0;
}
.notification-background .close-button:active {
  background-color: #f5bde6;
}
.notification-background .notification-action {
  color: #cad3f5;
  background-color: #363a4f;
  box-shadow: inset 0 0 0 1px rgba(73, 77, 100, 0.3019607843);
}
.notification-background .notification-action:hover {
  background-color: #494d64;
}
.notification-background .notification-action:active {
  background-color: #5b6078;
}
.notification-background .notification-action .notification.critical progress {
  background-color: #ed8796;
}
.notification-background .notification-action .notification.low progress {
  background-color: #8bd5ca;
}
.notification-background .notification-action .notification.normal progress {
  background-color: #f5a97f;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(36, 39, 58, 0.3019607843), inset 0 0 0 1px rgba(54, 58, 79, 0.3019607843);
  background-color: #24273a;
  color: #cad3f5;
}
.control-center .notification-background {
  box-shadow: inset 0 0 0 1px rgba(73, 77, 100, 0.3019607843);
}
.control-center .notification-background .notification.low {
  opacity: 0.8;
}
.control-center .widget-title > label {
  color: #cad3f5;
}
.control-center .widget-title button {
  color: #cad3f5;
  background-color: #363a4f;
  box-shadow: inset 0 0 0 1px rgba(73, 77, 100, 0.3019607843);
}
.control-center .widget-title button:hover {
  background-color: #494d64;
}
.control-center .widget-title button:active {
  background-color: #5b6078;
}
.control-center .notification-group:focus .notification-background {
  background-color: #363a4f;
}

scrollbar slider {
  opacity: 0.8;
}

/* dnd */
.widget-dnd switch {
  background: #363a4f;
  box-shadow: none;
}
.widget-dnd switch:checked {
  background: #8aadf4;
}
.widget-dnd switch slider {
  background: #494d64;
}

/* mpris */
.widget-mpris-player {
  background: #363a4f;
  color: #cad3f5;
}

.mpris-overlay {
  background-color: #363a4f;
  opacity: 0.9;
}

.widget-mpris-title {
  color: #cad3f5;
}

.widget-mpris-subtitle {
  color: #b8c0e0;
}

.widget-mpris button {
  color: #cad3f5;
}
.widget-mpris button:hover {
  background-color: #363a4f;
}
.widget-mpris button:active {
  background-color: #494d64;
}
.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > .menu-button-bar > :last-child {
  color: #ed8796;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #363a4f;
}

.control-center .widget-label > label {
  color: #cad3f5;
}

.widget-volume {
  padding: 1rem 0;
}
.widget-volume label {
  color: #7dc4e4;
}
.widget-volume trough highlight {
  background: #7dc4e4;
}

.widget-backlight trough highlight {
  background: #eed49f;
}
.widget-backlight label {
  color: #eed49f;
}
