:root {
  --cc-bg: #303446ff;
  --noti-border-color: #babbf1ff;
  --noti-bg: #51576dff;
  --noti-bg-alpha: 0.9;
  --noti-bg-darker: #414559ff;
  --noti-bg-hover: #626880ff;
  --noti-bg-focus: #949cbb4d;
  --noti-close-bg: #e78284ff;
  --noti-close-bg-hover: #ea999cff;
  --text-color: #c6d0f5ff;
  --text-color-disabled: #a5adceff;
  --bg-selected: #f2d5cf4d;
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border: 2px solid var(--noti-border-color);
  --border-radius: 10px;
  --notification-shadow:
    0 0 0 1px #4145594d,
    0 1px 3px 1px #414559b3,
    0 2px 6px 2px #4145594d;
  /*
   * Deprecated variables (because of their typos).
   * Keeping them around for backwards compatibility.
   */
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-shadow: var(--notification-shadow);
}
.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  background-color: var(--cc-bg);
}

trough highlight {
  background: #c6d0f5;
}

trough slider {
  box-shadow: 0 0 2px rgba(48, 52, 70, 0.3019607843);
  background-color: #ea999c;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(48, 52, 70, 0.3019607843), 0 0 8px rgba(234, 153, 156, 0.3019607843);
}

trough {
  background-color: #414559;
}

/* notifications */
.notification-background {
  box-shadow: 0 0 8px 0 rgba(48, 52, 70, 0.3019607843), inset 0 0 0 1px rgba(81, 87, 109, 0.3019607843);
  background: #292c3c;
  color: #c6d0f5;
}
.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 rgba(231, 130, 132, 0.3019607843);
}
.notification-background .notification-content .summary {
  color: #c6d0f5;
}
.notification-background .notification-content .time {
  color: #a5adce;
}
.notification-background .notification-content .body {
  color: #b5bfe2;
}
.notification-background .close-button {
  color: #303446;
  background-color: #e78284;
}
.notification-background .close-button:hover {
  background-color: #ea999c;
}
.notification-background .close-button:active {
  background-color: #f4b8e4;
}
.notification-background .notification-action {
  color: #c6d0f5;
  background-color: #414559;
  box-shadow: inset 0 0 0 1px rgba(81, 87, 109, 0.3019607843);
}
.notification-background .notification-action:hover {
  background-color: #51576d;
}
.notification-background .notification-action:active {
  background-color: #626880;
}
.notification-background .notification-action .notification.critical progress {
  background-color: #e78284;
}
.notification-background .notification-action .notification.low progress {
  background-color: #81c8be;
}
.notification-background .notification-action .notification.normal progress {
  background-color: #ef9f76;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(48, 52, 70, 0.3019607843), inset 0 0 0 1px rgba(65, 69, 89, 0.3019607843);
  background-color: #303446;
  color: #c6d0f5;
}
.control-center .notification-background {
  box-shadow: inset 0 0 0 1px rgba(81, 87, 109, 0.3019607843);
}
.control-center .notification-background .notification.low {
  opacity: 0.8;
}
.control-center .widget-title > label {
  color: #c6d0f5;
}
.control-center .widget-title button {
  color: #c6d0f5;
  background-color: #414559;
  box-shadow: inset 0 0 0 1px rgba(81, 87, 109, 0.3019607843);
}
.control-center .widget-title button:hover {
  background-color: #51576d;
}
.control-center .widget-title button:active {
  background-color: #626880;
}
.control-center .notification-group:focus .notification-background {
  background-color: #414559;
}

scrollbar slider {
  opacity: 0.8;
}

/* dnd */
.widget-dnd switch {
  background: #414559;
  box-shadow: none;
}
.widget-dnd switch:checked {
  background: #ea999c;
}
.widget-dnd switch slider {
  background: #51576d;
}

/* mpris */
.widget-mpris-player {
  background: #414559;
  color: #c6d0f5;
}

.mpris-overlay {
  background-color: #414559;
  opacity: 0.9;
}

.widget-mpris-title {
  color: #c6d0f5;
}

.widget-mpris-subtitle {
  color: #b5bfe2;
}

.widget-mpris button {
  color: #c6d0f5;
}
.widget-mpris button:hover {
  background-color: #414559;
}
.widget-mpris button:active {
  background-color: #51576d;
}
.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > .menu-button-bar > :last-child {
  color: #e78284;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #414559;
}

.control-center .widget-label > label {
  color: #c6d0f5;
}

.widget-volume {
  padding: 1rem 0;
}
.widget-volume label {
  color: #85c1dc;
}
.widget-volume trough highlight {
  background: #85c1dc;
}

.widget-backlight trough highlight {
  background: #e5c890;
}
.widget-backlight label {
  color: #e5c890;
}
