:root {
  --cc-bg: #1e1e2eff;
  --noti-border-color: #b4befeff;
  --noti-bg: #45475aff;
  --noti-bg-alpha: 0.9;
  --noti-bg-darker: #313244ff;
  --noti-bg-hover: #585b70ff;
  --noti-bg-focus: #9399b24d;
  --noti-close-bg: #f38ba8ff;
  --noti-close-bg-hover: #eba0acff;
  --text-color: #cdd6f4ff;
  --text-color-disabled: #a6adc8ff;
  --bg-selected: #f5e0dc4d;
  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border: 2px solid var(--noti-border-color);
  --border-radius: 10px;
  --notification-shadow:
    0 0 0 1px #3132444d,
    0 1px 3px 1px #313244b3,
    0 2px 6px 2px #3132444d;
  /*
   * Deprecated variables (because of their typos).
   * Keeping them around for backwards compatibility.
   */
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-shadow: var(--notification-shadow);
}
.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  background-color: var(--cc-bg);
}

trough highlight {
  background: #cdd6f4;
}

trough slider {
  box-shadow: 0 0 2px rgba(30, 30, 46, 0.3019607843);
  background-color: #eba0ac;
}

trough slider:hover {
  box-shadow: 0 0 2px rgba(30, 30, 46, 0.3019607843), 0 0 8px rgba(235, 160, 172, 0.3019607843);
}

trough {
  background-color: #313244;
}

/* notifications */
.notification-background {
  box-shadow: 0 0 8px 0 rgba(30, 30, 46, 0.3019607843), inset 0 0 0 1px rgba(69, 71, 90, 0.3019607843);
  background: #181825;
  color: #cdd6f4;
}
.notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 rgba(243, 139, 168, 0.3019607843);
}
.notification-background .notification-content .summary {
  color: #cdd6f4;
}
.notification-background .notification-content .time {
  color: #a6adc8;
}
.notification-background .notification-content .body {
  color: #bac2de;
}
.notification-background .close-button {
  color: #1e1e2e;
  background-color: #f38ba8;
}
.notification-background .close-button:hover {
  background-color: #eba0ac;
}
.notification-background .close-button:active {
  background-color: #f5c2e7;
}
.notification-background .notification-action {
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px rgba(69, 71, 90, 0.3019607843);
}
.notification-background .notification-action:hover {
  background-color: #45475a;
}
.notification-background .notification-action:active {
  background-color: #585b70;
}
.notification-background .notification-action .notification.critical progress {
  background-color: #f38ba8;
}
.notification-background .notification-action .notification.low progress {
  background-color: #94e2d5;
}
.notification-background .notification-action .notification.normal progress {
  background-color: #fab387;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(30, 30, 46, 0.3019607843), inset 0 0 0 1px rgba(49, 50, 68, 0.3019607843);
  background-color: #1e1e2e;
  color: #cdd6f4;
}
.control-center .notification-background {
  box-shadow: inset 0 0 0 1px rgba(69, 71, 90, 0.3019607843);
}
.control-center .notification-background .notification.low {
  opacity: 0.8;
}
.control-center .widget-title > label {
  color: #cdd6f4;
}
.control-center .widget-title button {
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px rgba(69, 71, 90, 0.3019607843);
}
.control-center .widget-title button:hover {
  background-color: #45475a;
}
.control-center .widget-title button:active {
  background-color: #585b70;
}
.control-center .notification-group:focus .notification-background {
  background-color: #313244;
}

scrollbar slider {
  opacity: 0.8;
}

/* dnd */
.widget-dnd switch {
  background: #313244;
  box-shadow: none;
}
.widget-dnd switch:checked {
  background: #eba0ac;
}
.widget-dnd switch slider {
  background: #45475a;
}

/* mpris */
.widget-mpris-player {
  background: #313244;
  color: #cdd6f4;
}

.mpris-overlay {
  background-color: #313244;
  opacity: 0.9;
}

.widget-mpris-title {
  color: #cdd6f4;
}

.widget-mpris-subtitle {
  color: #bac2de;
}

.widget-mpris button {
  color: #cdd6f4;
}
.widget-mpris button:hover {
  background-color: #313244;
}
.widget-mpris button:active {
  background-color: #45475a;
}
.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.control-center .widget-label > label {
  color: #cdd6f4;
}

.widget-volume {
  padding: 1rem 0;
}
.widget-volume label {
  color: #74c7ec;
}
.widget-volume trough highlight {
  background: #74c7ec;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}
.widget-backlight label {
  color: #f9e2af;
}
