---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  filename: "templates/catppuccin-{{ flavor.identifier }}/catppuccin-{{ flavor.identifier }}-{{ accent }}.scss"
  hex_format: "#{{r}}{{g}}{{b}}{{a}}"
---
:root {
  --cc-bg: {{ base.hex }};

  --noti-border-color: {{ lavender.hex }};
  --noti-bg: {{ surface1.hex }};
  --noti-bg-alpha: 0.9;
  --noti-bg-darker: {{ surface0.hex }};
  --noti-bg-hover: {{ surface2.hex }};
  --noti-bg-focus: {{ overlay2 | mod(opacity=0.3) | hex }};
  --noti-close-bg: {{ red.hex }};
  --noti-close-bg-hover: {{ maroon.hex }};

  --text-color: {{ text.hex }};
  --text-color-disabled: {{ subtext0.hex }};

  --bg-selected: {{ rosewater | mod(opacity=0.3) | hex }};

  --notification-icon-size: 64px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;

  --border: 2px solid var(--noti-border-color);
  --border-radius: 10px;

  --notification-shadow:
    0 0   0   1px {{ surface0 | mod(opacity=0.3) | hex }},
    0 1px 3px 1px {{ surface0 | mod(opacity=0.7) | hex }},
    0 2px 6px 2px {{ surface0 | mod(opacity=0.3) | hex }};

  /*
   * Deprecated variables (because of their typos).
   * Keeping them around for backwards compatibility.
   */
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}

.notification-row {
  .notification-background {
    .notification {
      .notification-default-action {
        .notification-content {
          .app-icon {
            -gtk-icon-shadow: var(--notification-shadow);
          }

          .body-image {
            background-color: var(--cc-bg);
          }
        }
      }
    }
  }
}

trough highlight {
  background: {{ text.hex }};
}

trough slider {
  box-shadow: 0 0 2px {{ base | mod(opacity=0.3) | hex }};
  background-color: {{ flavor.colors[accent].hex }};
}

trough slider:hover {
  box-shadow:
    0 0 2px {{ base | mod(opacity=0.3) | hex }},
    0 0 8px {{ flavor.colors[accent] | mod(opacity=0.3) | hex }};
}

trough {
  background-color: {{ surface0.hex }};
}

/* notifications */

.notification-background {
  box-shadow:
    0 0 8px 0 {{ base | mod(opacity=0.3) | hex }},
    inset 0 0 0 1px {{ surface1 | mod(opacity=0.3) | hex }};
  background: {{ mantle.hex }};
  color: {{ text.hex }};

  .notification.critical {
    box-shadow: inset 0 0 7px 0 {{ red | mod(opacity=0.3) | hex }};
  }

  .notification-content {
    .summary {
      color: {{ text.hex }};
    }

    .time {
      color: {{ subtext0.hex }};
    }

    .body {
      color: {{ subtext1.hex }};
    }
  }

  .close-button {
    color: {{ base.hex }};
    background-color: {{ red.hex }};

    &:hover {
      background-color: {{ maroon.hex }};
    }

    &:active {
      background-color: {{ pink.hex }};
    }
  }

  .notification-action {
    color: {{ text.hex }};
    background-color: {{ surface0.hex }};
    box-shadow: inset 0 0 0 1px {{ surface1 | mod(opacity=0.3) | hex }};

    &:hover {
      background-color: {{ surface1.hex }};
    }

    &:active {
      background-color: {{ surface2.hex }};
    }

    .notification.critical progress {
      background-color: {{ red.hex }};
    }

    .notification.low progress {
      background-color: {{ teal.hex }};
    }

    .notification.normal progress {
      background-color: {{ peach.hex }};
    }
  }
}

.control-center {
  box-shadow: 0 0 8px 0 {{ base | mod(opacity=0.3) | hex }}, inset 0 0 0 1px {{ surface0 | mod(opacity=0.3) | hex }};
  background-color: {{ base.hex }};
  color: {{ text.hex }};

  .notification-background {
    box-shadow: inset 0 0 0 1px {{ surface1 | mod(opacity=0.3) | hex }};

    .notification.low {
      opacity: 0.8;
    }
  }

  .widget-title {
    & > label {
      color: {{ text.hex }};
    }

    button {
      color: {{ text.hex }};
      background-color: {{ surface0.hex }};
      box-shadow: inset 0 0 0 1px {{ surface1 | mod(opacity=0.3) | hex }};

      &:hover {
        background-color: {{ surface1.hex }};
      }

      &:active {
        background-color: {{ surface2.hex }};
      }
    }
  }

  .notification-group {
    &:focus .notification-background {
      background-color: {{ surface0.hex }};
    }
  }
}

scrollbar {
  slider {
    opacity: 0.8;
  }
}

/* dnd */

.widget-dnd {
  switch {
    background: {{ surface0.hex }};
    box-shadow: none;

    &:checked {
      background: {{ flavor.colors[accent].hex }};
    }

    slider {
      background: {{ surface1.hex }};
    }
  }
}

/* mpris */

.widget-mpris-player {
  background: {{ surface0.hex }};
  color: {{ text.hex }};
}

.mpris-overlay {
  background-color: {{ surface0.hex }};
  opacity: 0.9;
}

.widget-mpris-title {
  color: {{ text.hex }};
}

.widget-mpris-subtitle {
  color: {{ subtext1.hex }};
}

.widget-mpris button {
  color: {{ text.hex }};

  &:hover {
    background-color: {{ surface0.hex }};
  }

  &:active {
    background-color: {{ surface1.hex }};
  }

  &:disabled {
    opacity: 0.5;
  }
}

.widget-menubar {
  & > .menu-button-bar {
    & > :last-child {
      color: {{ red.hex }};
    }
  }
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: {{ surface0.hex }};
}

.control-center .widget-label > label {
  color: {{ text.hex }};
}

.widget-volume {
  padding: 1rem 0;
  label {
    color: {{ sapphire.hex }};
  }

  trough highlight {
    background: {{ sapphire.hex }};
  }
}

.widget-backlight {
  trough highlight {
    background: {{ yellow.hex }};
  }

  label {
    color: {{ yellow.hex }};
  }
}
